<div class="card card-descricao-sobre">
    <div class="card-body">
      <div class="card-block">
        <h5 class="card-subtitle hidden-md-down"><b>O blog</b></h5>
        <hr>
        <!-- <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" src="https://www.youtube.com/embed/2J1gbrdUN1c" frameborder="0"></iframe>
        </div> -->
        <img src="../assets/imagens/foto_foto.jpg" class="iimg-fluid card-img-top rounded mx-auto d-block" width="100%">
        <div class="card-text">
          <p>Oi, eu sou Deocleciano Júnior, tenho 27 anos, sou casado, cristão, tenho um filho e no momento que estou escrevendo minha esposa está esperando outro 🙂</p>

          <p>Eu sempre quis escrever um blog, porém eu nunca tive muita coragem, talvez por ter receio do que as pessoas irão pensar ou dizer, talvez por que eu não sou muito bom com o português, enfim, sempre havia algo que me travava, que me fazia parar, que me fazia desistir da idéia, voltar atrás, até que um dia…</p>

          <p>Bom antes de saber sobre esse dia eu quero falar um pouco mais de mim, eu gosto de esportes radicais, pratico tiro com arco,  gosto de rapel, acampamento, e tudo do gênero. Atualmente eu trabalho como Analista de Sistemas em uma empresa da minha cidade, sou realizado profissionalmente e amo o que eu faço, lembro do meu primeiro contato com um computador, foi na casa de um amigo, ele era lindo, branco, com um monitor branco com resolução nítida, era um windows 98, foi amor a primeira vista. Três anos depois eu fui ter o meu primeiro computador.</p>

          <p>Voltando ao dia… No dia 27 de junho de 2017, minha esposa descobriu que estava grávida, foi um momento muito bacana e um marco em nossas vidas, saímos de casa em casa contando a novidade para alguns amigos, familiares e até fizemos um vídeo, isso foi um motivador para eu começar a escrever, falar sobre nossa família, documentar os passos da gravidez.</p>

          <p>Minha esposa se chama Gerliane, a conheci quando tínhamos 12 anos, estudávamos na mesma escola e fazíamos a 6ª série, ela era linda, e até hoje é, na época ela tinha cabelos lisos e escuros, era magra, lábios finos, era notoriamente a menina mais bonita de toda a escola, estudamos dois anos juntos e nos separamos, aquela época éramos praticamente crianças e nunca tivemos nenhum tipo de relacionamento além de amigos de escola, cada um foi para o seu lado e só nos reencontraríamos 10 anos depois, casamos e estamos juntos há três anos.</p>

          <p>Meu filho tem 6 anos e se chama Iuky, ele é um menino altamente inteligente, bonito e especial, ele é muito humano, gosta de ajudar as pessoas, no aniversário de 5 anos que fizemos na escola dele, ele fez questão de servir todos os amiguinhos de turma, levou bolo, refrigerante e brigadeiro a todos, também distribuiu as lembrancinhas, só depois disso tudo ele aquietou e foi comer do próprio bolo. Ele na verdade é meu enteado, quando casamos ele tinha 3 anos.</p>

          <p>Isso é um pouco sobre nós, e esse blog, é para falar um pouco sobre a minha família, sobre as felicidades e dificuldades, relatar casos e quem sabe inspirar alguém, aqui eu vou falar sobre como educo meus filhos, como eu costumo agir perante a educação dos meus filhos, sobre a gravidez, e falar um pouco sobre Deus, sobre o amor Dele e como isso reflete na família que tenho.</p>

          <p>Boa leitura.</p>
          <blockquote class="blockquote blockquote-reverse">
              <p class="mb-0">
                              <i class="fa fa-quote-left" aria-hidden="true"></i> Ainda que eu ande pelo vale da sobra e da morte, não temerei mal algum, por que tu ó Deus, estará comigo. 
                              <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
            <footer class="blockquote-footer"><cite title="Source Title">Salmos 23.1 </cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
</div>