<div class="card card-descricao-sobre card-borda-azul d-none d-sm-nome d-md-none d-lg-block d-xl-block">
      <img src="../assets/imagens/foto_foto.jpg" class="iimg-fluid card-img-top rounded mx-auto d-block" width="100%">
      <div class="text-center">
        <a [routerLink]="['/']"><img src="../assets/imagens/minha_foto.jpg" class="iimg-fluid card-img-top rounded-circle img-thumbnail offset-foto-perfil" width="50%"></a>
      </div>
      <div class="card-body">
      <div class="card-block  text-center">
        <h6 class="card-subtitle mb-2"><b>Deocleciano Júnior</b></h6>
        <p class="card-text">Onde falo sobre mim, minha família e Deus</p>
      </div>
    </div>
</div>
