<!DOCTYPE html>
<html>
<head>
	<title>Sempre quis um blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet"> -->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<app-navbar></app-navbar>
			</div>
		</div>
	</div>
    <div class="container corpo">
		<div class="row">
            <div class="col-lg-3">
				<app-header></app-header>
                <app-sidebar class="hidden-md-down"></app-sidebar>
            </div>
			<div class="col-lg-9">
                <router-outlet></router-outlet>
			</div>
			<div class="col-lg-3 d-block d-sm-none d-block d-sm-none d-none d-sm-block d-md-none"> 
				<app-sidebar></app-sidebar>
			</div>
		</div> <!-- ./row-->
	</div> <!-- ./container corpo -->
	<div id="fb-root"></div>
	<ng4-loading-spinner> </ng4-loading-spinner>
</body>
</html>